.hero {
    width: 100%;
    margin: 20x;
    height: 10rem;
}

.navbar {

    margin: 25px;
    display: flex;
    align-items: center;
    width: 95%;
    height: 100px;
}

ul.shubham {
    flex: 20%;
    text-align: right;
    margin-top: -10px;
    font-size: 19px;

}

ul.shubham li {
    display: inline-block;
    list-style: none;
    margin: 0 10px;

}

ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 10 10px;
    position: relative;
    font-weight: bolder;

}

ul li a::after {
    content: "";
    width: 0;
    height: 5px;
    background: rgb(11, 168, 103);
    ;
    position: absolute;
    left: 50%;
    border-radius: 25px;
    transform: translateX(-50%);
    top: -5px;
    transition: 0.5s;
}

ul li a:hover::after {
    width: 100%;

}

button.shubham {
    background-color: black;
    text-align: center;
    font-size: 15px;
    color: rgb(255, 254, 249);
    width: 100%;
    padding: 15px;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
    border-radius: 20px;
}


/* FOOTER */
.footerr {
    width: 100%;
    height: 15rem;
    background-color: rgb(0, 0, 0);
    padding-top: 15px;

}


footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: rgb(255, 255, 255);

}

footer .col1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .col2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .col3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    text-align: justify;
}

.logo {
    height: 200px;
    margin-top: 10px;
    padding-left: 0px;
}



footer p {
    font-size: 14px;
    margin-bottom: 20px;
}

footer a {
    font-size: 15px;
    color: rgb(121, 158, 41);
    margin-bottom: 10px;
    text-decoration: none;

}